body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFF1EA;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #88CAB2;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #88CAB2;
}

#logo-image{
	margin-left:6%;
	margin-top:4%;
	position:absolute;
}

#flor-fondo {
	width:176px;
}
#flor1-fondo{
	width:176px;
	margin-left:56%;
}
#logo{
	margin-left:2%;
}

#content
{
    padding: 20px;
}
#imagen-fondo{
	margin-top:5%;
	margin-left:10%;
	position:initial;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #B3F6C6;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}
#mainmenu{background:white url(bg.gif) repeat-x left top;}

#mainmenu ul a, #mainmenu ul a:hover{ text-decoration:none;}

#mainmenu ul { 
	padding:6px 20px 5px 20px;
	list-style: none; 
	margin: 0px; 
	min-width:30%; 
	position: relative; 
	height: 23px;
}
 
#mainmenu ul li { display: block; overflow: visible;}

#mainmenu ul li:hover > ul { display: block; float:left;}

#mainmenu ul li a { color:#ffffff;
	background-color:transparent;
	font-family:Verdana;
	font-size:15px;
	float:left;
	font-style: normal;
	text-decoration:none;
	padding:5px 8px; 
	position:relative;
}
 
#mainmenu ul li ul { 

display: none; 
position: absolute; 
top:100%;
background:url(bg.gif) repeat left top; 
height: auto;
box-shadow: 0px 0px 6px 2px #666; 
border-radius:4px;
z-index:1;
}
 
#mainmenu ul li ul li a { padding: 4px 14px; display: block; }
 
#mainmenu ul li a:hover
{
	color: #F2FF5C;
	font-weight:bold;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#ingreso-grid{
	width: 99%;
}

#exito{
	height:165px;
	margin-left:2%;
}

#info{
	border: 3px solid #A1DFA3;
	padding: 13px 17px;
	width: 400px;
	margin-left: 30%;
	margin-top:1%;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	position: initial;
}

#usuario-grid
{
	width: 140%;

}
